<?xml version="1.0" encoding="utf-8"?><!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.benjaminearley.stockcost">

    <application
        android:name=".ReleaseStockCostApplication"
        tools:replace="android:name">

    </application>

</manifest>